* {
    position: relative;
    margin: 0 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    overflow-x: hidden;
    padding: 0 2em;

    font-family: monospace;
    background-color: black;
    color: white;
}

#navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10em;
    width: 100%;
    margin: 20px;
    padding: 10px 20px;

    border-radius: 25px;
    background-color: black;
    color: white;
    border: 1px solid white;
    font-size: 15px;
}

section {
    margin: 0em auto;
    padding: 6em 0;
}

#about-me {
    font-size: 2em;
    text-align: center;
}

.pagedivisor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    width: 100%;
}

#sections {
    width: 40%;
    height: 100%;
    font-family: monospace;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
}

#abouttext {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

#portrait {
    width: 40%;
    height: 100%;
    color: 20px;
    border: white 1px solid;
    border-radius: 10px;
    padding: 10px;
}
#navlinks {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3em;
}

/* interactive elements */ 

.items:hover {
    background-color: gray;
    opacity: 0.5;
}

a {
    text-decoration: none;
    color:white;
}

/* SECOND HALF OF PAGE */

#pagedivisor2, #pagedivisor3 {
    display: flex;
    margin: 0 auto;
    padding: 40px;
    max-width: 1000px;

    border: white 1px solid;
    border-radius: 25px;
}

#pagedivisor2 {
    flex-direction: column;
    
    height: 500px;
}

.lists {
    flex-wrap: wrap;
}

#listsbox {
    display: flex;
    justify-content: center;
}

#intropara {
    margin-bottom: 40px;
}

#education {
    margin-bottom: 10px;
}

#pagedivisor3 {    
    flex-wrap: wrap;
}


#heading {
    border-radius: 25px;
    font-size: 15px;
    color: white;
    display: flex;
    background-color: black;
    border: 1px solid white;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    margin: 20px 0 30px;
}

.extras {
    width:400px;
    height: 200px;
    padding: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    display: flex;
}

#extracurricularDesc {
    margin-bottom: 40px;
}

.club {
    padding-bottom:20px;
}

#theunofficialfootnote {
    margin-bottom: 10px;
    align-self: self-start;
}

#lightModeToggle:hover {
    cursor: pointer;
}

#lightModeToggle {
    user-select: none;
}