* {
    position: relative;
    margin: 0 0;
}

br {
    color:white;
}

body {
    font-family: monospace;;
    background-color: black;
    color: white;
}

#navbar {
    border-radius: 25px;
    font-size: 15px;
    color: white;
    display: flex;
    background-color: black;
    border: 1px solid white;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
}

.pagedivisor {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 450px;
    width: 100%;
    margin-top: 70px;
}

#sections {
    width: 40%;
    height: 100%;
    font-family: monospace;
    font-size: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 80px;
    padding-left: 40px;
    padding-right: 40px;
}

#abouttext {
    margin-top: 30px;
    font-size: 20px;
    text-align: center;
}

#portrait {

    width: 40%;
    height: 100%;
    color: 20px;
    border: white 1px solid;
    border-radius: 10px;
    padding: 10px;

}
#navlinks {
    width: 30%;
    display: flex;
    justify-content: space-between;
}

/* interactive elements */ 

.items:hover {
    background-color: gray;
    opacity: 0.5;
}

a {
    text-decoration: none;
    color:white;
}

/* SECOND HALF OF PAGE */

.pagedivisor2 {
    
    border: white 1px solid;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    
    height: 500px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
}

.lists {
    flex-wrap: wrap;
}

#listsbox {
    display: flex;
    justify-content: center;
}

#intropara {
    margin-bottom: 40px;
}

#education {
    margin-bottom: 10px;
}

.pagedivisor3 {
    
    border: white 1px solid;
    border-radius: 25px;
    display: flex;
    
    height: 900px;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
}


.heading {
    
    border-radius: 25px;
    font-size: 15px;
    color: white;
    display: flex;
    background-color: black;
    border: 1px solid white;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 20px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 30px;
}

.extras {
    width:400px;
    height: 200px;
    padding: 20px;
    margin-bottom: 30px;
    flex-wrap: wrap;
    display: flex;

}

#extracurricularDesc {
    margin-bottom: 40px;
}

.club {
    padding-bottom:20px;
}

#unofficialfootnote {
    margin-bottom: 10px;
}